# Config format is 'key = value'
# Lines starting with '#' are comments

#-----------------------------
# basic section
#-----------------------------

# Scale, real number passed to dbgen. Roughly equivalent to GBs of data.
# scale = 1

# Installation directory of postgres. pgdatadir/bin must contain the binaries such
# as pg_ctl
# pginstdir = /opt/pgsql/jit

# 'Data' directory of postgres
# pgdatadir = /mnt/pgsql/data/9.6.1-typed/pgsql-data-1
# pgdatadir = /mnt/ramdisk/pgsql-data-1

# Port where Postgres will listen
# pgport = 5442

# Name of table with TPC-H data
# tpchdbname = tpch

#-----------------------------
# run.sh section
#-----------------------------

# In not empty means 'Data' directory must be copied here before run,
# and removed after run
# copydir = /mnt/ramdisk/

# This allows to add additional setting to postgresql.conf in copied directory
# The whole file extconffile will be appended to actual postgresql.conf
# File path must be relative to this project root.
# Works only if copydir is not empty
# extconffile = ext.conf

# Queries to run. Possible values are 'all' or list of names, e.g. 'q01 ss hj'
# Queries are searched in 'queries' dir inside pgdatadir firstly. For example,
# for q01 specified here file $pgdatadir/queries/q01.sql will be taken. If not
# found, it will be searched in 'queries' dir inside root of the project.
# queries = q01 q02

# Number of warmups. Each query is run warmups times first without recording the
# answer, and then one time recording it.
# warmups = 8

# Number of timer runs after normal run to record timer stats
# timerruns = 0

# Commands to run by Postgres before executing the actual query. For example,
# you can set formatting here or enable extension.
# backslash escapes will be interpreted by echo, i.e. \n means newline
# precmd =

# Another possibility to run some commands before executing query. The
# whole file precmdfile will be read and executed before the actual query.
# File path must be relative to this project root.
# precmdfile = precmd.sql

# Passed as a -U param to psql. By default `whoami`
# pguser = user

#--------------------
# prepare.sh section
#--------------------

# *.tbl files generated by dbgen will be put to this directory; it will be
# removed when populating tables is done
# tpchtmp = /tmp/tpchtmp

# Path to directory with 'dbgen' and 'qgen' programs, absolute or relative to
# the root of the project
# dbgenpath = dbgens/dbgen-orig
