-- These 3 lines change answer format for easier evaluation
\pset expanded
\pset format unaligned
\pset fieldsep ' '

-- enable/disable some features
set enable_indexscan TO off;
set enable_indexonlyscan TO off;
set enable_material TO off;
set enable_bitmapscan TO off;
set enable_nestloop TO off;
set enable_sort TO off;
