[
    {
	"pginstdir": "/home/ars/postgres/install/vanilla",
	"queries": "q01 q03 q04 q05 q10 q12 q14",
	"testname": "vanilla_typed"
    },
    {
	"pginstdir": "/home/ars/postgres/install/reversed",
	"queries": "q01 q03 q04 q05 q10 q12 q14",
	"testname": "reversed_typed"
    }
]
